/* CSS variables*/

:root {
  /* fonts */
  --main-font: "Poppins", sans-serif;
  --title-font: "Fira Sans", sans-serif;
  --main-font-weight: 300;
  --medium-font-weight: 400;
  --heavy-font-weight: 500;
  
  /* main colours */
  --black: #000000;
  --white: #ffffff;
  --extreme-dark-green: #012509; /* Nav bar background */
  --vivid-green: #67ff73; /* Border highlight */
  --ireland-green: #6FDB42; /* flit */
  --plastel-pink: #E2BDF4; /* Active page and main subtitle */
  --bright-pink: #BB61E6; /* Logo, Link hover and for darker backgrounds */
  --extra-bright-pink: #9800DA; /* For lighter backgrounds */

  /* background pastels */
  
  --blue-1: #A7f2f8;
  --blue-2: #5FE9F5;
  --blue-3: #00DEF1;
  --green-1: #DBF5C9;
  --green-2: #C3EFA6;
  --green-3: #A9E780;
  --green-4: #93E161;
  --purple-1: #CFCBFF;
  --purple-2: #AEA9FF;
  --purple-3: #8C86FF;
  --pink-1: #FBC0F5;
  --pink-2: #F994EF;
  --pink-3: #F55FE9;
  --yellow-orange-1: #FFED85;
  --yellow-orange-2: #FFE285;
  --yellow-orange-3: #FFD754;
}

/* Global styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-weight: var(--main-font-weight);
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--bright-pink);
}

h1 {
  font-family: var(--title-font);
  font-weight: var(--light-font-weight);
}

h2 {
  font-family: var(--title-font);
  font-weight: var(--medium-font-weight);
  font-size: 2rem;
}

h3 {
  font-weight: var(--heavy-font-weight);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width:576px) {
  h2 {
    font-size: 2.5rem;
  }
}

/* Header */

header {
  position: fixed;
  z-index: 4;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: black;
  color: var(--white);
  border-bottom: 1px solid var(--purple-1);
}

.logo {
  line-height: 2rem;
}

.logo-f {
  color: var(--bright-pink);
}

.logo-lit {
  color: var(--bright-pink);
}

.desktop-nav > ul {
  list-style-type: none;
  display: flex;
}

.header-link {
  margin-right: 1rem;
  line-height: 2rem;
}

.active-page {
  color: var(--purple-1);
}

.burger {
  display: none;
}

.mobile-nav {
  display: none;
}

/* Main */

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  background-color: var(--black);
  color: var(--white);
}

/* Footer */

footer {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  background-color: black;
  color: var(--white);
  border-top: 1px solid var(--purple-1);
}

footer > p {
  margin-right: 2rem;
}

footer > ul {
  list-style-type: none;
  display: flex;
}

.footer-link {
  margin-right: 1rem;
}

/* Landing page */

.title-plus-container {
  padding: 2rem;
  text-align: center;
}

.title-plus-container > h2 {
  margin-bottom: 1rem;
}

.title-plus-container > p {
  color: var(--purple-1);
}

.launch-info {
  color: var(--green-4);
  font-size: 2rem;
}

@media screen and (min-width:576px) {
  .title-plus-container > p {
    font-size: 1.5rem;
  }
  .solution-flex-container {
    flex-direction: row;
    justify-content: space-around;
    max-width: 40rem;
  }
  .solution-image {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

/* About page */

.about-container {
  width: 90vw;
  max-width: 40rem;
  margin: 0 auto;
}

.about-section {
  width: 100%;
  min-height: 6rem;
  color: var(--black);
  position: relative;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.about-title {
  text-align: center;
  padding: 0.5rem;
  width: 18rem;
  margin-bottom: 2rem;
  z-index: 2;
  border-radius: 10px;
}

.about-title > h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.click-info {
  display: none;
}

.about-info {
  z-index: 0;
  padding: 3rem 1rem 1rem 1rem;
  border-radius: 10px;
  max-width: 40rem;
  display: block;
  position: relative;
  top: 1rem;
}

.about-list {
  margin-top: 0.5rem;
  margin-inline-start: 1rem;
}

#first-about {
  background-color: var(--green-1);
}
.first-title {
  position: absolute;
  left: 2rem;
  background-color: var(--green-2);
}

#second-about {
  background-color: var(--yellow-orange-1);
}
.second-title {
  position: absolute;
  right: 2rem;
  background-color: var(--yellow-orange-2);
}

#third-about {
  background-color: var(--pink-1);
}
.third-title {
  position: absolute;
  left: 2rem;
  background-color: var(--pink-2);
}

#fourth-about {
  background-color: var(--blue-1);
}
.fourth-title {
  position: absolute;
  right: 2rem;
  background-color: var(--blue-2);
}


@media screen and (min-width:576px) {  
  .about-info {
    display: block;
  }
  .about-container {
    display: flex;
    flex-wrap: wrap;
  }
  .click-info {
    display: none;
  }
}

/* Blog page */

.blog-container {
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.individual-blog {
  position: relative;
  width: 98%;
  height: 20rem;
  margin-bottom: 2rem;
  color: var(--black);
  overflow: scroll;
  border-radius: 10px;
}

.blog-date {
  position: absolute;
  right: 0;
  z-index: 2;
  padding: 0.5rem;
  border-top-left-radius: 10% 40%;
  border-bottom-left-radius: 100% 100%;
  border-bottom-right-radius: 50% 10%;
  width: 5.5rem;
  height: 2.5rem;
}

.blog-title {
  padding: 0.5rem 5.5rem 0.5rem 1rem;
  height: 5.5rem;
  position: relative;
}

.blog-title > h3 {
  margin: 0;
  font-size: 1.1rem;
}

.title-wave {
  position: absolute;
  top: 5.5rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.title-wave svg {
  position: relative;
  display: block;
  width: calc(146% + 1.3px);
  height: 15px;
  transform: rotateY(180deg);
}

.blog-content {
  margin-top: 1rem;
  padding: 1rem;
}

.blog-content > p {
  margin-bottom: 0.5rem;
}

.blog-1 {
  background-color: var(--blue-1);
}
.blog-1 > .blog-date {
  background-color: var(--blue-3);
}
.blog-1 > .blog-title {
  background-color: var(--blue-2);
}
.blog-1-wave .shape-fill {
  fill: var(--blue-2);
}

.blog-2 {
  background-color: var(--green-1);
}
.blog-2 > .blog-date {
  background-color: var(--green-3);
}
.blog-2 > .blog-title {
  background-color: var(--green-2);
}
.blog-2-wave .shape-fill {
  fill: var(--green-2);
}

.blog-3 {
  background-color: var(--yellow-orange-1);
}
.blog-3 > .blog-date {
  background-color: var(--yellow-orange-3);
}
.blog-3 > .blog-title {
  background-color: var(--yellow-orange-2);
}
.blog-3-wave .shape-fill {
  fill: var(--yellow-orange-2);
}

@media screen and (min-width:576px) {
  .individual-blog {
    width: 30rem;
    height: 18rem;
    margin: 1rem;
  }
  .blog-title {
    height: 4.8rem;
  }
  .blog-title > h3 {
    font-size: 1.5rem;
  }
  .blog-date {
    border-top-left-radius: 10% 40%;
    width: 6rem;
    height: 3rem;
  }
  .title-wave {
    top: 4.8rem;
  }
}

@media screen and (min-width:1200px) {
  .individual-blog {
    width: 32rem;
    height: 22rem;
    margin: 2rem;
  }
}

/* Contact Form */

.form-container {
  width: 90vw;
  max-width: 23rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: black;
}

.form-section {
  padding: 1rem;
}

.input-and-label {
  margin-bottom: 1rem;
}

.radio-category {
  margin-top: 0.5rem;
}

textarea {
  margin-top: 0.5rem;
}

.name-section {
border-radius: 10px 10px 0px 0px;
 background-color: var(--green-3);
}
.ideas-section {
  background-color: var(--green-2);
}
.email-section {
  background-color: var(--green-1);
}
.submit-section {
  display: flex;
  justify-content: space-between;
  background-color: var(--green-1);
  border-radius: 0px 0px 10px 10px;
 }

 .submit-button {
  background-color: var(--extra-bright-pink);
  color: var(--white);
  border-radius: 10px;
  padding: 0.5rem;
}

.response-container {
  padding-right: 1rem;
}