/* Import Fonts */


/* CSS variables*/

:root {
  /* fonts */


  /* colours */
  --black: #000000;
  --extreme-dark-green: #012509;
  --vivid-green: #67ff73; /* logo - F */
  --light-vivid-green: #85ff8f; /* background home page */
  --vivid-teal: #67ffc7; /* logo - Lit */
  --dark-green: #013c0e;
  --white: #ffffff;
  --pink: #fe78fe;
  --yello-green: #baf55e;
  --turquoise: #44ffec;
  --orange: #ffc04d;
  --mid-green: #6fcf07;

}

/* Global styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--vivid-green);
}

/* Header */

header {
  position: fixed;
  z-index: 4;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--extreme-dark-green);
  color: var(--white);
  border-bottom: 1px solid var(--vivid-green);
}

.logo {
  line-height: 2rem;
}

.logo-f {
 color: var(--vivid-green);
}

.logo-lit {
  color: var(--vivid-teal);
}

.desktop-nav > ul {
  list-style-type: none;
  display: flex;
}

.header-link {
  margin-right: 1rem;
  line-height: 2rem;
}

.active-page {
  color: var(--vivid-teal);
}

.burger {
  display: none;
}

.mobile-nav {
  display: none;
}

/* Main */

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 4rem;
  background-color: var(--black);
  color: var(--white);
}

/* Footer */

footer {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  background-color: var(--dark-green);
  color: var(--white);
  border-top: 1px solid var(--vivid-green);
}

footer > p {
  margin-right: 2rem;
}

footer > ul {
  list-style-type: none;
  display: flex;
}

.footer-link {
  margin-right: 1rem;
}

/* Landing page */

.title-plus-container {
  padding: 2rem;
  text-align: center;
}

.title-plus-container > h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.solution-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: var(--light-vivid-green);
  color: var(--black);
}

.solution-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.solution-image {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid black;
}

.solution-element {
  margin-bottom: 1rem;
}

.solution-icon {
  margin-right: 1rem;
  font-weight: bold;
}

.solution-area {
  font-weight: bold;
}

.solution-aim {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width:576px) {
  .title-plus-container > h2 {
    font-size: 2.5rem;
  }
  .title-plus-container > p {
    font-size: 1.5rem;
  }
  .solution-flex-container {
    flex-direction: row;
    justify-content: space-around;
    max-width: 40rem;
  }
  .solution-image {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

/* About page */

.about-section {
  width: 100%;
  color: var(--black);
  position: relative;
}

.about-section-info {
  padding: 1rem;
}

.about-image {
  margin: 2rem 1rem 2rem 1rem;
  height: 6rem;
  border: 1px solid black;
}

.about-tilt-left {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.about-tilt-left svg {
  position: relative;
  display: block;
  width: calc(108% + 1.3px);
  height: 39px;
  transform: rotateY(180deg);
}

.about-tilt-right {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.about-tilt-right svg {
  position: relative;
  display: block;
  width: calc(108% + 1.3px);
  height: 39px;
}

.second-about, .third-about, .fourth-about {
  padding-top: 1.2rem;
}

.first-about {
  display: grid;
  height: 11rem;
  grid-template-columns: 1fr 5rem;
  background-color: var(--yello-green);
  border-radius: 10px 10px 0px 0px;
}
.first-tilt {
  position: absolute;
  z-index: 2;
  top: 11rem;
  left: 0;
}
.first-tilt .shape-fill {
  fill: var(--yello-green);
}

.second-about {
  display: grid;
  height: 10rem;
  grid-template-columns: 5rem 1fr;
  background-color: var(--pink);
}
.second-tilt {
  position: absolute;
  z-index: 2;
  top: 10rem;
  left: 0;
}
.second-tilt .shape-fill {
  fill: var(--pink);
}

.third-about {
  display: grid;
  height: 18rem;
  grid-template-columns: 1fr 5rem ;
  background-color: var(--turquoise);
}
.third-tilt {
  position: absolute;
  z-index: 2;
  top: 18rem;
  left: 0;
}
.third-tilt .shape-fill {
  fill: var(--turquoise);
}

.fourth-about {
  display: grid;
  height: 15rem;
  grid-template-columns: 5rem 1fr;
  background-color: var(--orange);
  border-radius: 0px 0px 10px 10px ;
}

.about-list {
  margin-top: 0.5rem;
  margin-inline-start: 1rem;
}

.about-sections-container {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}


@media screen and (min-width:576px) {  
  .second-about, .third-about, .fourth-about {
    padding-top: 1.5rem;
  }
  
  .first-about {
    height: 9rem;
    grid-template-columns: 1fr 6rem;
  }
  .first-tilt {
    top: 9rem;
  }
  
  .second-about {
    grid-template-columns: 6rem 1fr;
  }
  
  .third-about {
    height: 12rem;
    grid-template-columns: 1fr 6rem ;
  }
  .third-tilt {
    top: 12rem;
  }
  
  .fourth-about {
    height: 13rem;
    grid-template-columns: 6rem 1fr;
  }
}

/* Blog page */

.blog-container {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.individual-blog {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: 1rem;
  color: var(--black);
  overflow: scroll;
  border-radius: 10px;
}

.blog-date {
  position: absolute;
  z-index: 2;
  padding: 0.5rem;
  border-top-right-radius: 10% 40%;
  border-bottom-right-radius: 100% 100%;
  border-bottom-left-radius: 50% 10%;
  width: 5rem;
  height: 2.5rem;
}

.blog-title {
  padding: 2rem 0.5rem 0.5rem 3.4rem;
  height: 4rem;
  position: relative;
}

.blog-title > h3 {
  margin: 0;
}

.title-wave {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.title-wave svg {
  position: relative;
  display: block;
  width: calc(146% + 1.3px);
  height: 15px;
  transform: rotateY(180deg);
}

.blog-content {
  margin-top: 1rem;
  padding: 1rem;
}

.blog-content > p {
  margin-bottom: 0.5rem;
}

.blog-1 {
  background-color: #ABF7FE;
}
.blog-1 > .blog-date {
  background-color: #00EBFE;
}
.blog-1 > .blog-title {
  background-color: #67F2FF;
}
.blog-1-wave .shape-fill {
  fill: #67F2FF;
}

.blog-2 {
  background-color: #CFCBFF;
}
.blog-2 > .blog-date {
  background-color: #8C86FF;
}
.blog-2 > .blog-title {
  background-color: #AEA9FF;
}
.blog-2-wave .shape-fill {
  fill: #AEA9FF;
}

.blog-3 {
  background-color: #FFED85;
}
.blog-3 > .blog-date {
  background-color: #FFD754;
}
.blog-3 > .blog-title {
  background-color: #FFE285;
}
.blog-3-wave .shape-fill {
  fill: #FFE285;
}

@media screen and (min-width:576px) {
  .individual-blog {
    width: 30rem;
    height: 18rem;
  }
  .blog-title {
    padding: 0.5rem 0.5rem 0.5rem 8rem;
  }
  .blog-date {
    border-top-right-radius: 10% 40%;
    width: 6rem;
    height: 3rem;
  }
}

/* Contact Form */

.form-container {
  width: 90vw;
  max-width: 23rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: black;
}

.form-title {
  background-color: #FFA30F;
  border-radius: 10px 10px 0px 0px;
  padding: 1rem;
}

.form-title > h3 {
  margin-bottom: 0;
}

.form-section {
  padding: 1rem;
}

.input-and-label {
  margin-bottom: 1rem;
}

.radio-category {
  margin-top: 0.5rem;
}

textarea {
  margin-top: 0.5rem;
}

.name-section {
 background-color: #FFD754;
}
.ideas-section {
  background-color: #FFE285;
}
.email-section {
  background-color: #FFED85;
}
.submit-section {
  display: flex;
  justify-content: space-between;
  background-color: #FFD754;
  border-radius: 0px 0px 10px 10px;
 }

 .submit-button {
  background-color: #FFA30F;
  border-radius: 10px;
  padding: 0.5rem;
}

.response-container {
  padding-right: 1rem;
}