/* CSS variables */

:root {
  /* fonts */
  --main-font: "Poppins", sans-serif;
  --title-font: "Fira Sans", sans-serif;
  --main-font-weight: 300;
  --medium-font-weight: 400;
  --heavy-font-weight: 500;
  
  /* background colour */
  --main-background: #ffffff;
  --grey-background: #DEDEDE; /* border shadow */
  --light-grey-background: #F0F0F0; /* Link hover */
  --pastel-green-1: #ECF9E8;
  --pastel-green-2: #D0EFC7;
  --pastel-green-3: #B1E4A2;
  --pastel-pink-1: #F4E5F7;
  --pastel-pink-2: #E2BDEB;
  --pastel-pink-3: #D091DE;
  --pastel-purple-1: #EEE8F8;
  --pastel-pruple-2: #D3C6EE;
  --pastel-purple-3: #B6A1E3;

  /* text colour */
  --main-text: #000000;
  --inverse-text: #ffffff;
  --logo-text: #AF40C7; /* Logo text and button background */
  --lighter-logo-text: #D64CD7; /* Logo and buttons on hover */
  --darker-logo-text: #9037BA; /*  */
  --irish-green-text: #138E24; /* ie */
  --text-green: #128722;
  --text-dark-grey: #606060;
 
  /* borders and shadow */
  --container-radius: 8px;
  --shadow-bottom: 0px 2px 10px var(--grey-background);
  --shadow-around: 0px 0px 10px var(--grey-background);
}

/* Global styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-weight: var(--main-font-weight);
  color: var(--main-text);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  background-color: var(--main-background);
  color: var(--white);
}

a {
  color: var(--main-text);
  text-decoration: none;
}

h1 {
  font-family: var(--title-font);
  font-weight: var(--light-font-weight);
}

h2 {
  font-family: var(--title-font);
  font-weight: var(--medium-font-weight);
  font-size: 2rem;
}

h3 {
  font-weight: var(--heavy-font-weight);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.title-plus-container {
  padding: 2rem;
  text-align: center;
}

.title-plus-container > h2 {
  margin-bottom: 1rem;
}

@media screen and (min-width:576px) {
  h2 {
    font-size: 2.5rem;
  }
  main {
    padding-top: 5rem;
  }
}

/* Header */

header {
  position: fixed;
  z-index: 4;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--main-background);
  box-shadow: var(--shadow-bottom);
}

.logo {
  line-height: 3rem;
  padding: 0.5rem 1rem;
  color: var(--logo-text);
  font-size: 2.5rem;
}

.logo:hover {
  color: var(--lighter-logo-text)
}

.logo-f {
  color: var(--logo-text);
}

.logo-lit {
  color: var(--logo-text);
}

.logo-ie {
  color: var(--irish-green-text);
}

.desktop-nav > ul {
  list-style-type: none;
  display: flex;
}

.mobile-nav > ul {
  list-style-type: none;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 50vh;
}

.header-link {
  margin-right: 0.5rem;
  line-height: 2rem;
  padding: 0.5rem 1rem;
  border-radius: var(--container-radius);
}

.header-link:hover {
  background-color: var(--light-grey-background);
  color: var(--main-text);
}

.highlighted-link {
  background-color: var(--logo-text);
  color: var(--inverse-text);
  font-weight: var(--heavy-font-weight);
}

.highlighted-link > a {
  color: inherit;
}

.highlighted-link:hover {
  color: var(--inverse-text);
  background-color: var(--lighter-logo-text);
}

.active-page {
  color: var(--text-green);
}

.mobile-nav {
  position: fixed;
  top: 6rem;
  right: 100%;
  width: 100%;
  height: 100%;
  z-index: 3;
  padding: 2rem;
  transition: 0.4s;
  background-color: var(--main-background);
}

.mobile-nav.is-active {
  right: 0;
}

.desktop-nav {
  display: none;
}

.burger {
  position: relative;
  display: block;
  width: 3.5rem;
  height: 3rem;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  margin: 0.5rem;
  z-index: 4;
}

.burger .bar,
.burger:after,
.burger:before {
  content: "";
  display: block;
  width: 100%;
  height: 0.3rem;
  background-color: var(--lighter-logo-text);
  border-radius: 4px;
  margin: 10px 0px;
  transition: 0.4s;
}

.burger.is-active:before {
  transform: rotate(-45deg) translate(-12px, 6px);
}

.burger.is-active:after {
  transform: rotate(45deg) translate(-12px, -8px);
}

.burger.is-active .bar {
  opacity: 0;
}

@media screen and (min-width:576px) {
  .desktop-nav {
    display: block;
  }
  .mobile-nav {
    display: none;
  }
  .burger {
    display: none;
  }
  .logo {
    line-height: 2rem;
  }
}

/* Landing page */

.landing-title-plus {
 margin: 4rem;
}

.in-ireland {
  color: var(--irish-green-text);
  font-size: 1.2rem;
}

.launch-info {
  color: var(--green-4);
  font-size: 2rem;
}

@media screen and (min-width:576px) {
  .title-plus-container > p {
    font-size: 1.5rem;
  }
  .solution-flex-container {
    flex-direction: row;
    justify-content: space-around;
    max-width: 40rem;
  }
  .solution-image {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

/* About page */

.about-container {
  width: 90vw;
  max-width: 40rem;
  margin: 0 auto;
}

.about-section {
  width: 100%;
  min-height: 6rem;
  color: var(--black);
  position: relative;
  border-radius: 10px;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.about-title {
  text-align: center;
  padding: 0.5rem;
  width: 18rem;
  margin-bottom: 2rem;
  z-index: 2;
  border-radius: 10px;
  background-color: var(--pastel-green-2);
}

.about-title > h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.click-info {
  display: none;
}

.about-info {
  z-index: 0;
  padding: 3.5rem 1rem 1rem 1rem;
  border-radius: 10px;
  max-width: 40rem;
  display: block;
  position: relative;
  top: 1rem;
  background-color: var(--pastel-green-1);
}

.about-info > p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.about-emphasize {
  font-weight: var(--heavy-font-weight);
}

.about-list {
  margin-top: 0.5rem;
  margin-inline-start: 1rem;
}

.about-list > li {
  margin-bottom: 0.5rem;
}

.left-title {
  position: absolute;
  left: 1rem;
}

.right-title {
  position: absolute;
  right: 1rem;
}

@media screen and (min-width:576px) {  
  .about-title-plus {
    margin: 2rem;
  }  
  .about-info {
    display: block;
    padding: 3.5rem 1.5rem 1.5rem 1.5rem;
  }
  .about-container {
    display: flex;
    flex-wrap: wrap;
  }
  .click-info {
    display: none;
  }
  .left-title {
    left: 2rem;
  }
  
  .right-title {
    right: 2rem;
  }
}

/* Blog page */

.blog-container {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.individual-blog {
  position: relative;
  width: 98%;
  max-width: 25rem;
  height: 13rem;
  margin-bottom: 6rem;
  padding: 1rem;
  background-color: var(--pastel-green-1);
  border-radius: var(--container-radius);
}

.blog-date {
  text-align: right;
  margin-top: 1rem;
}

.blog-title {
  padding: 1rem;
  position: absolute;
  left: 1rem;
  top: -2rem;
  z-index: 2;
  background-color: var(--pastel-green-2);
  border-radius: var(--container-radius);
}

.blog-title > h3 {
  margin: 0;
  font-size: 1.1rem;
}

.blog-content {
  margin-top: 0.2rem;
}

.blog-content > p {
  margin-bottom: 1rem;
}

.blog-open {
  padding: 0.5rem;
  position: absolute;
  bottom: -1rem;
  right: 1rem;
  font-weight: var(--heavy-font-weight);
  font-size: 1rem;
  border: none;
  background-color: var(--text-green);
  color: var(--inverse-text);
  border-radius: var(--container-radius);
}

.blog-open > a {
  color: inherit;
}

.blog-open:hover {
  cursor: pointer;
  background-color: var(--inverse-text);
  color: var(--text-green);
}

@media screen and (min-width:576px) {
  .blog-title-plus {
    margin: 2rem;
  }  
  .individual-blog {
    margin: 0rem 1.5rem 6rem 1.5rem;
    height: 11rem;
  }
  .blog-date {
    margin: 0;
  }
  .blog-content {
    margin-top: 1rem;
  }  
}

/* Individual Blog */

.blog-contents {
  display: none;
  background-color: var(--pastel-green-1);
  border-radius: var(--container-radius);
  position: relative;
  padding: 3.5rem 1rem 1rem 1rem;
  margin-top: 0.5rem;
}

.contents-title {
  position: absolute;
  left: 1rem;
  top: -1rem;
  text-align: center;
  padding: 0.5rem;
  z-index: 2;
  border-radius: 10px;
  background-color: var(--pastel-green-2);
}

.contents-title > h3 {
  margin: 0;
}

.contents-list {
  margin: 0;
  list-style-type: none;
}

.date {
  color: var(--text-dark-grey);
}

.blog-link {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: var(--container-radius);
}

/* DMcC 24/05/24 add post-link to get URLs to standout */
.post-link {
  /* margin-bottom: 1rem; */
  color: var(--text-green);
  /* padding: 0.5rem; */
  border-radius: var(--container-radius);
}



.blog-link:hover {
  cursor: pointer;
  background-color: var(--grey-background);
}

.active-blog-link {
  color: var(--darker-logo-text);
}

.blog-header {
  color: var(--logo-text);
}

.blog-header > p {
  color: var(--darker-logo-text);
}

.blog-info {
  padding: 0rem 2rem 2rem 2rem;
}

.blog-info > p {
  margin-bottom: 0.8rem;
}

.tab-paragraph {
  margin-left: 2rem;
}

.room-above-paragraph {
  margin-top: 2rem;
}

.blog-return {
  margin: 0rem 2rem 4rem 2rem;
  padding: 1rem;
  float: right;
  font-weight: var(--heavy-font-weight);
  font-size: 1.1rem;
  border: none;
  background-color: var(--text-green);
  color: var(--inverse-text);
  border-radius: var(--container-radius);
}

.blog-return > a {
  color: inherit;
}

.blog-return:hover {
  cursor: pointer;
  background-color: var(--inverse-text);
  color: var(--text-green);
}

@media screen and (min-width:576px) {
  .individual-blog-plus {
    padding: 2rem 1rem 2rem 1rem;
    display: grid;
    grid-template-columns: 11rem 1fr;
  }
  .blog-contents {
    display: block;
    padding: 3.5rem 0.5rem 1rem 0.5rem;
  }
  .blog-return {
    display: none;
  }
}

@media screen and (min-width:768px){
  .individual-blog-plus {
    padding: 2rem;
    grid-template-columns: 15rem 1fr;
  }
  .blog-contents {
    padding: 3.5rem 1rem 1rem 1rem;
  }
}

/* Contact Form */

.title-main-divide {
  width: 80vw;
  max-width: 50rem;
  height: 0.1rem;
  margin: 0 auto;
  background-color: var(--pastel-green-3);
}

.form-plus-container {
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.form-container {
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  padding: 1rem;
  max-width: 35rem;
}

.input-and-label {
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 4.5rem 1fr;
}

input {
  background-color: var(--light-grey-background);
  border: none;
  border-radius: var(--container-radius);
  padding: 0.5rem;
  height: 3rem;
}

label {
  margin-right: 0.5rem;
  padding: 0.75rem 0rem;
}

.textarea-and-label {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

textarea {
  margin-top: 0.8rem;
  background-color: var(--light-grey-background);
  border: none;
  border-radius: var(--container-radius);
  padding: 0.5rem;
  width: 100%;
  height: 10rem;
}

.submit-and-response {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.submit-button {
  background-color: var(--logo-text);
  color: var(--inverse-text);
  font-weight: var(--medium-font-weight);
  font-size: 1.2rem;
  border-radius: var(--container-radius);
  padding: 0.5rem 1rem;
  border: none;
}

.submit-button:hover {
  background-color: var(--lighter-logo-text);
  cursor: pointer;
}

.response-container {
  min-height: 4rem;
  margin-bottom: 0.5rem;
  color: var(--text-green);
  font-size: 0.9rem;
}

@media screen and (min-width:576px) {
  .response-container {
    font-size: 1rem;
    min-height: 3.5rem;
  }
  input, textarea {
    font-size: 1rem;
    padding: 1rem;
  }
  label {
    font-size: 1.2rem;
  }
  .response-container {
    font-size: 1rem;
    min-height: 4rem;
  }
}
